<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="room.css" type="text/css">
    

    <title>Chat room</title>
</head>

<body style="background-color: #eeeeee;" class="h-100">
    <nav class="navbar navbar-light bg-secondary m-0">
        <span class="navbar-brand mb-0 h1 mx-auto text-light"><strong>{{room_name}}</strong></span>
    </nav>
    <div class="row" style="height: 90%;">
        <div class="col-2">
            <nav class="text-dark bg-light m-0" style="height:100%; width:100%;">
                <ul style="list-style-type: none;" class="p-0 text-center">
                    <li class="py-3 text-danger border-bottom "><strong> ACTIVE USERS </strong></li>
                    <li class="p-3">Example</li>
                    <li class="p-3">Example</li>
                    <li class="p-3">Example</li>
                    <li class="p-3">Example</li>
                </ul>
            </nav>
        </div>
        <div class="col-10">
            <div class="container-fluid" style="height:101%;">
                <div class="bg-light  rounded  shaodw pl-2 pt-2 mb-3" style="overflow:auto; height: 90%;" id="chat-log"></div>
                <input id="chat-message-input" autofocus class="mr-2 col-11" placeholder="Type as {{username}}" type="text">
                
                <input id="chat-message-submit" type="button" class="rounded btn btn-primary" value="Send">
            </div>
        
        {{ room_name|json_script:"room-name" }}
        <script>
            const username = "{{username}}"
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
        
            const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                "/" +
                "chat/" +
                roomName +
                '/'
            );
        
            var all_messages = "";
            var new_messages;
        
            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                if (data.message.trim() != "") {
                    // split the received message in new lines
                    all_messages = data.message.split("\n")
                    // convert all_messages username part to bold
                    makeBold()
        
                    data.message = new_messages.join("<br>")
                    document.querySelector('#chat-log').innerHTML = (data.message);
                }
            };
        
            // makes the username appear bold
            function makeBold() {
                new_messages = []
                all_messages.forEach(function (msg) {
                    var words = msg.split(":")
                    words[0] = "<strong>" + words[0] + "</strong>"
                    new_messages.push(words.join(": "))
                })
        
            }
        
            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };
        
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) { // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };
        
            document.querySelector('#chat-message-submit').onclick = function (e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
        
                if (message.trim() != "")
                    chatSocket.send(JSON.stringify({
                        'message': username + ": " + message
                    }));
        
                messageInputDom.value = '';
            };
        </script>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>